*{
    margin: 0;
    padding: 0;   
}
.hed h1{
    background: darkslateblue;
    
}
.hed h1:hover{
      
    border-radius: 20px transparent;   
}
.doc button{
    background: darkslateblue;
    font-weight: 500;
    width: 500px;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    min-height: 100px;
    color: white;
    display: inline-block;
    transition: all 0.3s;
}
body{
    background-color:
}
#save button{
    background: darkslateblue;
    min-height: 50px;
    width: 250px;
    color: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 20px;
    transition: all 0.5s;
}
.doc button:hover{
    border: 5px solid white;
    background: skyblue;
    color: darkslateblue;
    padding-top: 10px;
    cursor: pointer;
    width: 530px;
    font-size: 20px;
    border-radius: 20px;
}
#save button:hover{
width: 300px;
color: rgb(255, 255, 255);
font-size: 20px;
border: 5px solid #3f0303;
}

footer{
    background: rgba(27, 26, 26, 0.822);
    color: white;
    
    
    height: 90px;
    width: 100%;
    word-spacing: 50px;
    font-size: 20px;

}
foot p2{
    right: 0;
    right: 50px;   
    top: 20px;
    position: absolute;
}
foot p1{
    top: 20px;
    position: absolute;
    left: 50px;
}
foot p3{
    position: absolute;
    left: 0;
}
footer p1 span{
    color: red;
}


/* mobile phones */

@media only screen and (max-width: 768px) {
    .doc button, #save button {
        width: 100%;
        min-height: 50px;
        font-size: 16px;
        padding: 10px;
        margin: 5px 0;
    }
    .doc button:hover, #save button:hover {
        width: 100%;
        padding-top: 10px;
        font-size: 18px;
    }
    footer {
        word-spacing: normal;
        font-size: 16px;
        height: auto;
        padding: 10px 0;
    }
    foot p1, foot p2, foot p3 {
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        text-align: center;
        margin: 10px 0;
    }
}