body{
    background: #001e4d;
    padding: 0;
    margin: 0;
}
.header img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
}
.header{
    background: skyblue;
    align-items: center;
    padding-top: 30px;
    border-bottom: red 5px solid;
    border-top: red 5px solid;
}
#im1{
    position: absolute;
    top: 8px;
    left: 0;

}
#im2{
    position: absolute;
    top: 8px;
    right: 0;
  
    
}
.logo h2{
    font-size: 40px;
    position: absolute;
    left: 30%;
    top: 0;
    color: rgba(128, 8, 112, 0.432);
}

.content{
    font-size: 30px;
    color: white;
}
#welcome{
    color: black;
    position: relative;
    left: 30%;
}
h1 span{
    color: rgb(255, 255, 255);
    position: relative;
    left: -10%;
}
.info p1{
    color: red;
}
.info p2{
    color: violet;   
}
.info p3{
    color: orange;
}
#change{
    position: absolute;
    background: gray;
    left: 20%;
}
.start button{
    font-size: 29px;
    position: absolute;
    color: white;
    left: 40%;
    font-weight: 500;
    margin: 10px 0;
    cursor: pointer;
    background: skyblue;
    transition: all 0.2s;
    
}
.start button:hover{
    border-radius: 20px;
    border: 5px solid skyblue;
    background: #001e4d;
    color: white;

}

/* responsive adjustments for mobile phones */

@media only screen and (max-width: 768px) {
    .header img {
        width: 50px;
        height: 50px;
    }
    .logo h2 {
        font-size: 24px;
        left: 50%;
        transform: translate(-50%);
    }
    .content{
        font-size: 24px;
    }
    #welcome, h1 span, .start button{
        left: 0;
        text-align: center;
        font-size: 24px;
        width: 100%;
        position: relative;
    }
    #change{
        left: 0;
        width: 100%;
        text-align: center;
        position: relative;
    }
    .start button {
        font-size: 24px;
        margin-top: 20px;
    }
    
}