*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #001e4d;
    padding: 0;
    margin: 0;
}
.malcodes{
    margin-top: 4em;
    color: gray;
}
.hedi img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid gray;
}
.hedi{
    display: flex;
    justify-content: space-around;
    gap: 3em;
    background-color: skyblue;
    
}
.logo{
/*
    position: fixed;
    background: skyblue;
    align-items: center; */
    display: flex;
    justify-content: center;
    padding-top: 30px;
    border-bottom: red 5px solid;
    border-top: red 5px solid;
    height: 40px;
    width: 100%;
    top: 0;
}
/*
#im1{
    position: absolute;
    top: 8px;
    left: 0;

}
#im2{
    position: absolute;
    top: 8px;
    right: 0;
  
    
}
*/
#ttl h2{
    left: 40%;
    font-size: 20px;
    color: white;
    position: absolute;
    
}
.cont button{
    margin-top: 8em;
    display: flex;
    justify-content: space-around;
    padding: 20px 30px;
    transition: all 0.4s;
    border-radius: 7px;
} 
.cont button:hover{
    border: 5px solid white;
    background: skyblue;
    cursor: pointer;
    color: black;
    
    
    border-top: 1px solid darkslateblue;
    
}
/*
.logo h2{
    font-size: 40px;
    position: absolute;
    left: 30%;
    top: 0;
    color: rgba(128, 8, 112, 0.432);
}
*/
.content{
    margin-top: 3em;
    font-size: 30px;
    color: white;
}
#welcome{
    color: black;
    
}
h1 span{
    color: rgb(255, 255, 255);
    
}
.info{
    margin-top: 2em;
}
.info p1{
    color: red;


}
.info p2{
    color: violet;   
}
.info p3{
    color: orange;
}
#change {
    
    color: rgb(39, 159, 214);
    margin-bottom: 23px;
}
.start  button{
    font-size: 25px;
    margin-top: 10px;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    background-color: skyblue;
    transition: all 0.2s;
    
}
.start button:hover{
    border-radius: 20px;
    border: 5px solid skyblue;
    background: #001e4d;
    color: white;

}
.to-quiz-btns{
    margin-bottom: 20px;
}
.to-quiz, .prem-btns button, .to-chat {
    font-size: 25px;
    padding: 0 20px;
    border: none;
    border-radius: 7px;
    background-color: darkslateblue;
    color: white;
    cursor: pointer;
}
.to-chatt{
    border: 1px solid red;
}
.to-quiz a{
    text-decoration: none;
    color: white;
}
.no-group-chat{
    color: red;
    margin-bottom: 10px;
}
.info li{
    margin-bottom: 1em;
}
.pp1{
    animation-name: slideInLeft;
    animation-duration: 3s;
    animation-delay: 0;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-iteration-count: 1;
}
.pp2{
    animation-name: slideInLeft;
    animation-duration: 5s;
    animation-delay: 0;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-iteration-count: 1;
}
.pp3{
    animation-name: slideInLeft;
    animation-duration: 9s;
    animation-delay: 0;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-iteration-count: 1;
}
.wrapi{
    margin-top: 7em;
    
    
    height: 500px;
    color: aliceblue;

}
.instt img{
    width: 100px;
    height: 100px;
    box-shadow: 4px 4px 4px 4px skyblue;
    transition: all 0.4s;
}
.instt img:hover{
    box-shadow: 4px 4px 9px 9px skyblue;
}
.instt{
    display: flex;
    justify-content: space-around;
    gap: 15px;
    margin-top: 7em;
}
#welcoming-wrds p{
    color: white;
    margin-top: 2em;
    font-size: 20px;
}
.premium{
    color: white;
    font-size: 30px;
    margin: 300px auto;
}

@keyframes slideInLeft {
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0);
    }
}

/* responsive adjustments for mobile phones */

@media only screen and (max-width: 768px) {
    .header img {
        width: 50px;
        height: 50px;
    }
    .logo h2 {
        font-size: 24px;
        left: 50%;
        transform: translate(-50%);
    }
    .content{
        font-size: 24px;
    }
    #welcome, h1 span, .start button{
        left: 0;
        text-align: center;
        font-size: 24px;
        width: 100%;
        position: relative;
    }
    #change{
        left: 0;
        width: 100%;
        text-align: center;
        position: relative;
    }
    
    .start button {
        font-size: 24px;
        margin-top: 3em;
        border-radius: 8px;
        padding: 7px 10px;
        border: none;
        width: 70%;
    }
    
}
